* {
  font-size: 25px;
}

table {
  border-collapse: collapse; /* 合并边框 */
  border-radius: 5px; /* 设置圆角半径 */
  overflow: hidden; /* 隐藏溢出内容 */
}

table th {
  font-size: 25px;
  padding: 5px; /* 可选：添加内边距以改进外观 */
  border: 1px solid #ccc; /* 可选：添加边框以改进外观 */
}


table td {
  font-size: 25px;
  padding: 5px; /* 可选：添加内边距以改进外观 */
  border: 1px solid #ccc; /* 可选：添加边框以改进外观 */
}

.centered-container {
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  height: 100vh; /* 這個屬性可以使內容在整個視窗高度置中 */
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #0a9fe4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 20px;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


span{
  font-size: 20px;
}

