* {
  font-size: 20px;
}

table {
  border-collapse: collapse; /* 合并边框 */
  border-radius: 5px; /* 设置圆角半径 */
  overflow: hidden; /* 隐藏溢出内容 */
}

table th {
  font-size: 20px;
  padding: 5px; /* 可选：添加内边距以改进外观 */
  border: 1px solid #ccc; /* 可选：添加边框以改进外观 */
}

table td {
  font-size: 20px;
  padding: 5px; /* 可选：添加内边距以改进外观 */
  border: 1px solid #ccc; /* 可选：添加边框以改进外观 */
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #0a9fe4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 20px;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


span{
  font-size: 20px;
}

.alert-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: -100px;
  width: 100%;
  transition: bottom 0.5s ease;
  z-index: 999;
}

.alert-box {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 300px;
  margin-bottom: 10px;
  display: none;
}
